* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
  }
  body {
    background-color: rgb(175, 213, 238);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 14px;
  }
  nav a {
    font-size: 17px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.87);
    cursor: pointer;
    padding: 5px 6.7px;
  }
  nav a:hover {
    text-decoration: underline;
    color: purple;
    opacity: 0.85;
  }
  .section-1 img {
    width: 35%;
    margin: auto 7px;
    cursor: pointer;
  }
  .section-1 img:hover {
    opacity: 0.8;
  }
  .section-1 {
    flex: 1;
  }
  .section-1 .logo {
    display: block;
    margin: 0px auto;
    margin-top: 10px;
  }
  .s-box {
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
  }
  .s-box .s-input {
    display: block;
    border: 1px solid rgb(194, 190, 190);
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
  }
  .s-box .s-input:hover {
    border: 1px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
      0 0 3px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
      0 0 5px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
      0 0 5px rgba(0, 0, 0, 0.05);
  }
  .s-box .search-icon {
    width: 35px;
    opacity: 0.4;
    position: absolute;
    top: 13px;
    left: 14px;
  }
  .s-box .vs-icon {
    width: 18px;
    position: absolute;
    top: 13px;
    right: 24px;
  }
  .s-btn {
    border: none;
    padding: 9px 15px;
    color: #666;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
  }
  .s-btn:hover {
    border: 1px solid #aaaa;
  }
  .recents {
    width: 50%;
    display: inline-flex;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 360px;
  }
  .recents .icon {
    border-radius: 5px;
    width: 20%;
    height: 120px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recents .icon img {
    width: 70px;
  }
  .recents .icon:hover {
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
      0 0 3px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
      0 0 5px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
      0 0 5px rgba(0, 0, 0, 0.05);
  }
  .recents .icon .txt a {
    text-decoration: none;
    font-size: 15px;
    font: arial;
    color: black;
    font-weight: bold;
  }
  .recents .icon .txt a:hover {
    color: purple;
  }
  footer {
    background: #f2f2f2;
  }
  footer h4 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    line-height: 39.5px;
    font-weight: 400;
    padding-left: 29px;
    border: 1px solid #eee;
  }
  footer a {
    color: #5f6368;
    display: inline-block;
    padding: 12px 11.3px;
    font-size: 14px;
  }
  footer a:hover {
    text-decoration: underline;
  }